.container {
    background-color: lightgray;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    margin: 16px 32px;
}

.link{
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
    font-size: 18px;
}